<h3 class="well">Bridge Mailer</h3>
    
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Date</th>
                <th>Time</th>
                <th>Subject</th>
                <th style="text-align: center;">Sent</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of Items">
                <td style="width: 30px;"><input type="checkbox" value="" /></td>
                <td style="width: 85px;">{{item.DateSent | betterDate}}</td>
                <td style="width: 100px;">{{item.DateSent | betterTime}}</td>
                <td>{{item.Subject}}</td>
                <td style="width: 85px; text-align: center;">{{item.Sent}}</td>
            </tr>
        </tbody>
    </table>
